* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::before {
  content: "";
  display: block;
  height: 100px;
}
.team-card:hover .team-links {
  display: flex;
  right: 0;
}
/* ============================= */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background: #111827;
  border-radius: 10px;
  border: 1px solid transparent;
}
::-webkit-scrollbar-thumb {
  background: #60a5fa;
  border-radius: 10px;
  border: 3px solid transparent;
}
::-webkit-scrollbar-horizontal {
  height: 10px;
}
/* ============================= */
