{% extends "layout.html" %} {% block content %}

<div class="my-10 md:my-0">
  <!-- na lign -->
  <div class="mx-auto w-full px-5 md:w-11/12 lg:w-10/12">
    <nav class="flex mb-5" aria-label="Breadcrumb">
      <ol
        class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse"
      >
        <li class="inline-flex items-center">
          <a
            href="/"
            class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white"
          >
            <svg
              class="w-3 h-3 me-2.5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"
              />
            </svg>
            Home
          </a>
        </li>

        <li aria-current="page">
          <div class="flex items-center">
            <svg
              class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 9 4-4-4-4"
              />
            </svg>
            <span class="ms-1 text-sm font-medium md:ms-2 text-gray-500">
              Contact
            </span>
          </div>
        </li>
      </ol>
    </nav>
  </div>

  <!-- Contact Fomr -->
  <section class="mb-32">
    <!-- MAP -->
    <div
      id="map"
      class="relative h-[450px] overflow-hidden bg-cover bg-[50%] bg-no-repeat"
    >
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d108703.12973870148!2d-8.090254526639391!3d31.634594989283915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xdafee8d96179e51%3A0x5950b6534f87adb8!2sMarrakech!5e0!3m2!1sfr!2sma!4v1734118932831!5m2!1sfr!2sma"
        width="100%"
        height="480"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>

    <!-- Form -->
    <div class="mx-auto w-full">
      <div class="container mx-auto md:px-12">
        <div
          class="block rounded-lg bg-transparent mx-5 px-6 py-12 shadow-xl shadow-gray-800 md:py-16 md:px-12 -mt-[100px] backdrop-blur-[100px]"
        >
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 justify-center">
            <!-- Formulaire -->
            <div class="lg:px-10">
              <h1 class="mb-8 text-4xl font-bold">Get In Touch</h1>

              <p class="mb-8 text-2xl">
                Hello, We are here to facilitate communication with you.
              </p>

              <form class="mb-8 flex flex-col gap-3">
                <input
                  type="text"
                  placeholder="Name"
                  class="w-full rounded-lg py-3 px-4 text-gray-800 text-sm outline-blue-500"
                />
                <input
                  type="email"
                  placeholder="Email"
                  class="w-full rounded-lg py-3 px-4 text-gray-800 text-sm outline-blue-600"
                />
                <input
                  type="text"
                  placeholder="Subject"
                  class="w-full rounded-lg py-3 px-4 text-gray-800 text-sm outline-blue-600"
                />
                <textarea
                  placeholder="Message"
                  rows="6"
                  class="w-full rounded-lg px-4 text-gray-800 text-sm pt-3 outline-blue-600"
                ></textarea>
                <button
                  type="button"
                  class="text-white font-semibold bg-blue-600 hover:bg-blue-800 tracking-wide rounded-lg text-sm px-4 py-3 flex items-center justify-center w-full !mt-6"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16px"
                    height="16px"
                    fill="#fff"
                    class="mr-2"
                    viewBox="0 0 548.244 548.244"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M392.19 156.054 211.268 281.667 22.032 218.58C8.823 214.168-.076 201.775 0 187.852c.077-13.923 9.078-26.24 22.338-30.498L506.15 1.549c11.5-3.697 24.123-.663 32.666 7.88 8.542 8.543 11.577 21.165 7.879 32.666L390.89 525.906c-4.258 13.26-16.575 22.261-30.498 22.338-13.923.076-26.316-8.823-30.728-22.032l-63.393-190.153z"
                      clip-rule="evenodd"
                      data-original="#000000"
                    />
                  </svg>
                  Send Message
                </button>
              </form>
            </div>

            <!-- Contacts -->
            <div class="">
              <div
                class="lg:max-w-xl w-full h-[600px] flex items-center justify-center bg-cover bg-no-repeat bg-[url('https://pagedone.io/asset/uploads/1696245837.png')]"
              >
                <div class="">
                  <div
                    class="lg:w-96 w-auto h-auto bg-gray-900 shadow-xl lg:p-6 p-4"
                  >
                    <div
                      class="flex items-center justify-center mb-7 space-x-3 rtl:space-x-reverse"
                    >
                      <span
                        class="self-center text-4xl text-blue-500 font-bold whitespace-nowrap"
                        >CenTeR</span
                      >
                    </div>

                    <div class="text-gray-100 flex items-center mb-6">
                      <i class="bi bi-telephone text-2xl"></i>
                      <h5 class="text-base font-normal leading-6 ml-5">
                        +212 647-601-190
                      </h5>
                    </div>

                    <a
                      href="mailto:mzilinassim@gmail.com"
                      class="text-gray-100 flex items-center mb-6"
                    >
                      <i class="bi bi-envelope text-2xl"></i>
                      <h5 class="text-base font-normal leading-6 ml-5">
                        mzilinassim@gmail.com
                      </h5>
                    </a>

                    <div class="text-gray-100 flex items-center mb-6">
                      <i class="bi bi-geo-alt text-2xl"></i>
                      <h5 class="text-base font-normal leading-6 ml-5">
                        rue Mauritania, n°6, Guéliz, 40000
                      </h5>
                    </div>

                    <div
                      class="flex items-center justify-center border-t border-gray-100 pt-6"
                    >
                      <a
                        title="Instagram"
                        href="https://www.instagram.com/nassim__dev/"
                        class="mr-6"
                      >
                        <i
                          class="bi bi-instagram bg-[#cf3bae] rounded-full p-2"
                        >
                        </i>
                      </a>
                      <a
                        title="Linkedin"
                        href="https://www.linkedin.com/in/mzilinassim/"
                        class="mr-6"
                      >
                        <i
                          class="bi bi-linkedin bg-[#126bc4] rounded-full p-2"
                        ></i>
                      </a>
                      <a
                        title="GitHub"
                        href="https://github.com/mziliNassim"
                        class="mr-6"
                      >
                        <i class="bi bi-github bg-[#000] rounded-full p-2"></i>
                      </a>
                      <a
                        title="YouTube"
                        href="https://www.youtube.com/@bugshunting609"
                        class="mr-6"
                      >
                        <i
                          class="bi bi-youtube bg-red-700 rounded-full p-2"
                        ></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}
