<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/favicon.ico') }}"
      type="image/x-icon"
    />
    <!-- page title -->
    {% if title %}
    <title>CenTER - {{ title}}</title>
    {% else %}
    <title>CenTER</title>
    {% endif %}

    <!-- Icons - bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <!-- Tailwind cdn -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body
    class="flex flex-col min-h-[100vh] overflow-x-hidden bg-[#151d2d] text-white"
  >
    <nav class="navBar z-50 fixed w-full border-gray-200">
      <div
        class="flex flex-col md:flex-row gap-5 w-11/12 md:w-10/12 md:items-center md:justify-between mx-auto py-4"
      >
        <div class="w-full flex justify-between items-center">
          <!-- Tile -->
          <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <span
              class="self-center text-4xl text-blue-500 font-semibold whitespace-nowrap"
              >CenTER</span
            >
          </a>

          <!-- Login md -->
          {% set auth_link, auth_text = ("/register", "Sign up") if title ==
          "login" else ("/login", "Sign in") %}

          <span></span>
        </div>

        <div class="w-full md:static md:flex justify-end gap-5">
          <!-- Nav links -->
          <ul
            class="font-medium flex items-center justify-between p-1 md:p-0 border-b border-gray-100 rounded bg-transparent md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 dark:border-gray-700"
          >
            <li>
              <a
                href="{{ url_for('home') }}"
                class="py-2 px-3 rounded md:bg-transparent md:p-0 {% if title == 'home' %} text-blue-500 {% else %} text-white {% endif %}"
                aria-current="page"
              >
                Home
              </a>
            </li>
            <li>
              <a
                href="{{ url_for('about') }}"
                class="py-2 px-3 rounded md:bg-transparent md:p-0 {% if title == 'about' %} text-blue-500 {% else %} text-white {% endif %}"
              >
                About
              </a>
            </li>
            <li>
              <a
                href="{{ url_for('courses') }}"
                class="py-2 px-3 rounded md:bg-transparent md:p-0 {% if title == 'courses' %} text-blue-500 {% else %} text-white {% endif %}"
              >
                Courses
              </a>
            </li>
            <li>
              <a
                href="{{ url_for('contact') }}"
                class="py-2 px-3 rounded md:bg-transparent md:p-0 {% if title == 'contact' %} text-blue-500 {% else %} text-white {% endif %}"
              >
                Contact
              </a>
            </li>
          </ul>

          <!-- Login lg -->
          {% set auth_link, auth_text = ("/register", "Sign up") if title ==
          "login" else ("/login", "Sign in") %} {% if session["user"] %}

          <div class="relative hidden md:block font-[sans-serif]">
            <button
              type="button"
              class="dropdownToggle px-4 py-2 flex items-center rounded-full text-gray-100 text-sm border border-gray-700 outline-none hover:bg-gray-900"
            >
              <img
                title="user"
                src="https://readymadeui.com/profile_6.webp"
                class="w-7 h-7 mr-3 rounded-full shrink-0"
              />
              {{ session["user"] }}
              <i
                class="bi bi-caret-down-fill w-3 fill-gray-400 inline ml-3"
              ></i>
            </button>

            <div
              class="dropdownMenu hidden absolute block shadow-lg bg-white py-2 z-[1000] min-w-full w-max rounded-lg max-h-96 overflow-auto"
            >
              <!-- <li
                class="py-2.5 px-5 flex gap-3 items-center justify-start hover:bg-gray-100 text-[#333] text-sm cursor-pointer"
              >
                <i class="bi bi-person text-xl"></i>
                View profile
              </li> -->
              <!-- <li
                class="py-2.5 px-5 flex gap-3 items-center justify-start hover:bg-gray-100 text-[#333] text-sm cursor-pointer"
              >
                <i class="bi bi-border-style text-xl"></i>
                Dashboard
              </li> -->
              <a
                href="/logout"
                class="py-2.5 px-5 flex gap-3 items-center justify-start hover:bg-gray-100 text-[#333] text-sm cursor-pointer"
              >
                <i class="bi bi-box-arrow-right text-xl"></i>
                Logout
              </a>
            </div>
          </div>

          {% else %}
          <a
            href="{{ auth_link }}"
            class="relative md:inline-flex hidden items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800"
          >
            <span
              class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-[#111827] rounded-md group-hover:bg-opacity-0"
            >
              {{ auth_text }}
            </span>
          </a>
          {% endif %}
        </div>
      </div>
    </nav>

    {% block content %} {% endblock%}

    <footer class="bg-white shadow dark:bg-gray-900 mt-auto">
      <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
          <a
            href="/"
            class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
          >
            <span
              class="self-center text-4xl text-blue-500 font-semibold whitespace-nowrap"
              >CenTER</span
            >
          </a>
          <ul
            class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400"
          >
            <li>
              <a href="/" class="hover:underline me-4 md:me-6">Home</a>
            </li>
            <li>
              <a href="/about" class="hover:underline me-4 md:me-6">About</a>
            </li>
            <li>
              <a href="/courses" class="hover:underline me-4 md:me-6"
                >Courses</a
              >
            </li>
            <li>
              <a href="/Contact" class="hover:underline">Contact</a>
            </li>
          </ul>
        </div>

        <hr
          class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"
        />

        <span
          class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"
        >
          <span>©</span>
          <a
            title="nassim.online"
            rel="noopener"
            href="https://nassim.online/"
            target="_blank"
            class="hover:underline"
          >
            Nassim MZILI
          </a>
          ™. All Rights Reserved.
        </span>
      </div>
    </footer>

    <!-- js -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
