<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/favicon.ico') }}"
      type="image/x-icon"
    />
    <!-- page title -->
    {% if title %}
    <title>CenTER - {{ title}}</title>
    {% else %}
    <title>CenTER</title>
    {% endif %}

    <!-- Icons - bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <!-- Tailwind cdn -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body
    class="flex flex-col min-h-[100vh] overflow-x-hidden bg-[#151d2d] text-white"
  >
    <nav class="navBar z-50 fixed w-full bg-transparent border-gray-200 mb-4">
      <div class="flex w-10/12 items-center justify-between mx-auto py-4">
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
          <span
            class="self-center text-4xl text-blue-500 font-semibold whitespace-nowrap"
            >CenTER</span
          >
        </a>

        <button
          data-collapse-toggle="navbar-default"
          type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="navbar-default"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 17 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"
            />
          </svg>
        </button>

        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
          <ul
            class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-transparent md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 dark:border-gray-700"
          >
            <li>
              <a
                href="{{ url_for('home') }}"
                class="block py-2 px-3 bg-blue-700 rounded md:bg-transparent md:p-0 {% if title == 'home' %} text-blue-500 {% else %} text-white {% endif %}"
                aria-current="page"
              >
                Home
              </a>
            </li>
            <li>
              <a
                href="{{ url_for('about') }}"
                class="block py-2 px-3 bg-blue-700 rounded md:bg-transparent md:p-0 {% if title == 'about' %} text-blue-500 {% else %} text-white {% endif %}"
              >
                About
              </a>
            </li>
            <li>
              <a
                href="{{ url_for('courses') }}"
                class="block py-2 px-3 bg-blue-700 rounded md:bg-transparent md:p-0 {% if title == 'courses' %} text-blue-500 {% else %} text-white {% endif %}"
              >
                Courses
              </a>
            </li>
            <li>
              <a
                href="{{ url_for('contact') }}"
                class="block py-2 px-3 bg-blue-700 rounded md:bg-transparent md:p-0 {% if title == 'contact' %} text-blue-500 {% else %} text-white {% endif %}"
              >
                Contact
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block content %} {% endblock%}

    <footer class="bg-white shadow dark:bg-gray-900 mt-auto">
      <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
          <a
            href="/"
            class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
          >
            <span
              class="self-center text-4xl text-blue-500 font-semibold whitespace-nowrap"
              >CenTER</span
            >
          </a>
          <ul
            class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400"
          >
            <li>
              <a href="/" class="hover:underline me-4 md:me-6">Home</a>
            </li>
            <li>
              <a href="/about" class="hover:underline me-4 md:me-6">About</a>
            </li>
            <li>
              <a href="/courses" class="hover:underline me-4 md:me-6"
                >Courses</a
              >
            </li>
            <li>
              <a href="/Contact" class="hover:underline">Contact</a>
            </li>
          </ul>
        </div>

        <hr
          class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"
        />

        <span
          class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"
        >
          <span>©</span>
          <a
            title="nassim.online"
            rel="noopener"
            href="https://nassim.online/"
            target="_blank"
            class="hover:underline"
          >
            Nassim MZILI
          </a>
          ™. All Rights Reserved.
        </span>
      </div>
    </footer>

    <!-- js -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
