<footer class="bg-white shadow dark:bg-gray-900 mt-auto">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <a
        href="/"
        class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
      >
        <span
          class="self-center text-4xl text-blue-500 font-semibold whitespace-nowrap"
          >CenTER</span
        >
      </a>
      <ul
        class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400"
      >
        <li>
          <a href="/" class="hover:underline me-4 md:me-6">Home</a>
        </li>
        <li>
          <a href="/about" class="hover:underline me-4 md:me-6">About</a>
        </li>
        <li>
          <a href="/courses" class="hover:underline me-4 md:me-6">Courses</a>
        </li>
        <li>
          <a href="/Contact" class="hover:underline">Contact</a>
        </li>
      </ul>
    </div>

    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />

    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">
      <span>©</span>
      <a
        title="nassim.online"
        rel="noopener"
        href="https://nassim.online/"
        target="_blank"
        class="hover:underline"
      >
        Nassim MZILI
      </a>
      ™. All Rights Reserved.
    </span>
  </div>
</footer>
